.todoinput-form {
	display: flex;
	justify-content: center;
	align-items: center;
}

.todoinput-input {
	color: var(--color-b);
	font-size: calc(2.2vh + 0.5rem);
	background-color: var(--color-c);
	padding: 8px 8px;
	border-style: none;
}

.todoinput-submit-button {
	color: var(--color-e);
	border-style: none;
}

.todoinput-submit-button:hover {
	color: var(--color-e-hover);
	border-style: none;
}
